* {
  text-decoration: none !important;
  list-style-type: none !important;
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1620px !important;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Anybody:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700&family=Red+Hat+Text:wght@400;500;600;700&display=swap");

:root {
  --font-size-16: 14px;
  --font-size-18: 16px;
  --font-size-20: 18px;
  --font-size-22: 18px;
  --font-size-25: 22px;
  --font-size-30: 25px;
  --font-size-45: 28px;
  --font-size-48: 30px;
  --font-size-80: 30px;
  --font-size-90: 35px;

  /* Colors */
  --clr-gray: #5a5f6a;
  --clr-green: #3cbd96;
  --clr-light-green: #e3f9e7;
  --clr-dark-green: #204945;
  --clr-light-gray: #777e90;
  --clr-extra-lightgreen: #e2f5ef;
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-almost-black: #23262f;
  --clr-c1e-green: #c1eadd;
  --clr-ebf-green: #ebf6ed;
}

.ff_Read_Hat_text {
  font-family: "Red Hat Text", sans-serif !important;
}

.ff_Poppins {
  font-family: "Poppins", sans-serif !important;
}

.ff_Anybody {
  font-family: "Anybody", cursive;
}

.fsize_16 {
  font-size: var(--font-size-16);
}

.fsize_18 {
  font-size: var(--font-size-18);
}

.fsize_20 {
  font-size: var(--font-size-20) !important;
}

.fsize_22 {
  font-size: var(--font-size-22);
}

.fsize_25 {
  font-size: var(--font-size-25);
}

.fsize_30 {
  font-size: var(--font-size-30) !important;
}

.fsize_45 {
  font-size: var(--font-size-45);
}

.fsize_48 {
  font-size: var(--font-size-48);
}

.fsize_80 {
  font-size: var(--font-size-80);
}

.fsize_90 {
  font-size: var(--font-size-90);
}

.fw_400 {
  font-weight: 400 !important;
}

.fw_500 {
  font-weight: 500 !important;
}

.fw_600 {
  font-weight: 600;
}

.fw_700 {
  font-weight: 700;
}

.clr_gray {
  color: var(--clr-gray);
}

.clr_green {
  color: var(--clr-green);
}

.clr_light_green {
  color: var(--clr-light-green);
}

.clr_dark_green {
  color: var(--clr-dark-green);
}

.clr_light_gray {
  color: var(--clr-light-gray);
}

.clr_extra_lightgreen {
  color: var(--clr-extra-lightgreen);
}

.clr_white {
  color: var(--clr-white);
}

.clr_black {
  color: var(--clr-black);
}

.clr_almost_black {
  color: var(--clr-almost-black);
}

.clr_c1e_green {
  color: var(--clr-c1e-green);
}

.clr_ebf_green {
  color: var(--clr-ebf-green);
}

.padding_10_27 {
  padding: 10px 27px !important;
}

.border_green {
  border: 5px solid var(--clr-green);
  padding: 17px 30px 17px 30px;
}

.bg_lightGreen {
  background-color: var(--clr-light-green);
}

.bg_green {
  background-color: var(--clr-green) !important;
}

.bg_extra_lightGreen {
  background-color: var(--clr-extra-lightgreen);
}

.bg_ebf_green {
  background-color: var(--clr-ebf-green);
}

.padding_33_38 {
  padding: 25px 38px !important;
}

.max_w661 {
  max-width: 661px;
}

.padding_30_65 {
  padding: 18px 65px !important;
}

::placeholder {
  font-size: 20px;
  font-weight: 400;
  font-family: "Red Hat Text", sans-serif;
  color: #777e90;
}

.tracking_number {
  outline: none;
}

.border_radious10 {
  border-radius: 10px !important;
}

.overflow_x_hidden {
  overflow-x: hidden;
}

.html .body {
  overflow-x: hidden;
}

.bg_hero {
  background-image: url(./Assets/img/png/cyclemen-bg.png);
  background-repeat: no-repeat;
  background-position-x: 100%;
}
.Z_index_negative3 {
  z-index: -3;
}

.p_30 {
  padding: 30px;
}

.bx_size_115 {
  width: 115px;
  height: 115px;
}

.border-radious25 {
  border-radius: 25px;
}

.gap_112 {
  gap: 112px;
}

.mg_neg_29 {
  margin-left: -29px;
}

.van_bg {
  width: 475px;
  height: 100%;
  background: #ebf6ed;
  border-radius: 0px 36px 36px 0px;
  z-index: 0;
}

.z_index_1 {
  z-index: 1;
}

.z_3 {
  z-index: 3;
}

.van_fastbox {
  animation: van1 5s ease-in-out infinite 5s;
}

@keyframes van1 {
  0% {
    left: -120%;
  }

  100% {
    left: 130%;
  }
}

@media (min-width: 576px) {
  :root {
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-22: 22px;
    --font-size-25: 25px;
    --font-size-30: 30px;
    --font-size-45: 45px;
    --font-size-48: 48px;
    --font-size-80: 38px;
    --font-size-90: 43px;
  }
}

@media (min-width: 992px) {
  :root {
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-22: 22px;
    --font-size-25: 25px;
    --font-size-30: 30px;
    --font-size-45: 45px;
    --font-size-48: 48px;
    --font-size-80: 40px;
    --font-size-90: 50px;
  }
}

@media (min-width: 1200px) {
  :root {
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-22: 22px;
    --font-size-25: 25px;
    --font-size-30: 30px;
    --font-size-45: 45px;
    --font-size-48: 48px;
    --font-size-80: 50px;
    --font-size-90: 60px;
  }
}

@media (min-width: 1400px) {
  :root {
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-22: 22px;
    --font-size-25: 25px;
    --font-size-30: 30px;
    --font-size-45: 45px;
    --font-size-48: 48px;
    --font-size-80: 80px;
    --font-size-90: 90px;
  }
}

@media (min-width: 992px) {
  .cyclist {
    position: absolute;
    bottom: 0;
    right: -63px;
    z-index: 0;
    max-width: 500px;
  }

  .gap_71 {
    gap: 22px;
  }

  .gap_38 {
    gap: 10px;
  }

  .van_fastbox {
    animation: van1 2s ease-in-out infinite 5s alternate-reverse;
  }

  @keyframes van1 {
    0% {
      left: -500px;
    }

    100% {
      left: 0;
    }
  }
}

@media (min-width: 1200px) {
  .cyclist {
    position: absolute;
    bottom: 0;
    right: -63px;
    max-width: 700px;
    z-index: 0;
  }

  .min_100vh {
    min-height: 100vh;
  }

  .gap_71 {
    gap: 31px;
  }

  .gap_38 {
    gap: 10px;
  }

  .border_green {
    border: 5px solid var(--clr-green);
    padding: 21px 42px 21px 41px;
  }
}

@media (min-width: 1400px) {
  .cyclist {
    position: absolute;
    top: 58px;
    max-width: 956px;
    right: -90px;
    z-index: 0;
  }

  .gap_71 {
    gap: 71px;
  }

  .gap_38 {
    gap: 38px;
  }

  .lh_110 {
    line-height: 110px;
  }
}

@media (max-width: 992px) {
  .Width_100 {
    width: 100%;
  }
}

.greenstar {
  top: 41%;
  left: 51%;
  z-index: -1;
}

.orangestar {
  top: 5%;
  left: 49%;
}

.z_11 {
  z-index: 11;
}

@media (max-width: 992px) {
  .d_none {
    display: none;
  }

  .mob_view {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: var(--clr-extra-lightgreen);
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    z-index: 10;
    line-height: 4;
    transition: all linear 0.3s;
  }

  .sm_view {
    display: flex;
    flex-direction: column !important;
    align-items: center;
  }

  .mob_view.nav_left0 {
    left: 0 !important;
  }

  .display_none {
    display: flex !important;
  }
}

.bg_white {
  background-color: var(--clr-white);
}

.Our_Specialties_box {
  box-shadow: 0px -1px 15px rgba(60, 189, 150, 0.15);
  border-radius: 20px;
  padding: 62px 40px 55px 30px;
}

.w_492 {
  max-width: 492px;
}

.cal_icon_box {
  background-color: var(--clr-green);
  padding: 8px 12px 14px;
  border-radius: 3px;
}

.outline_none {
  outline: none;
}

.w_45 {
  width: 45%;
}

.btncal {
  padding: 11px 31px;
  box-shadow: 0px 4px 0px rgba(60, 189, 150, 0.25);
  border-radius: 10px;
}

.slide_more::after {
  content: " ";
  position: absolute;
  border: 1px solid white;
  opacity: 0.7;
  width: 89px;
  left: 116px;
  top: 50%;
}

.slide_more::before {
  content: " ";
  position: absolute;
  border: 1px solid white;
  opacity: 0.7;
  width: 89px;
  right: 115px;
  top: 50%;
}

.w_810 {
  max-width: 810px;
}

.mt_100 {
  margin-top: 140px;
}

.w_903 {
  max-width: 903px;
}

.clients_bg {
  background: linear-gradient(90deg, #E3F9E7 0%, rgba(227, 249, 231, 0) 100%);
  border-radius: 15px;
  padding: 31px 40px;
}

.clients_1 {
  background: linear-gradient(90deg, #E3F9E7 0%, rgba(227, 249, 231, 0) 100%);
  border-radius: 15px;
  padding: 31px 40px;
  width: 554px;
  height: 149px;
  transition: all 0.3s linear;
}

.clients_detalis_bg {
  background: #E3F9E7;
  border-radius: 0px 21px 21px 21px;
}

.clients_detalis {
  background: #E3F9E7;
  border-radius: 0px 21px 21px 21px;
  width: 1099px;
  height: 497px;
  opacity: 0;
  transition: all 0.5s linear;
}

.clients_bg:hover {
  background: linear-gradient(270deg, #E3F9E7 0%, rgba(227, 249, 231, 0) 100%);
  border-radius: 0;
  width: 108%;
}

.subscribe_box input {
  border: none;
  border-bottom: 1px solid rgba(119, 126, 144, 0.3);
  padding-bottom: 10px;
  outline: none;
}

.border_top {
  border-top: 3px dashed rgba(119, 126, 144, 0.5);
}

.icon a path {
  transition: all 0.3s linear;
}

.icon a:hover path {
  fill: #3CBD96;
}

@media (max-width:1400px) {
  .Our_Specialties_box {
    box-shadow: 0px -1px 15px rgba(60, 189, 150, 0.15);
    border-radius: 20px;
    padding: 32px 20px 27px 15px;
  }
}

@media (min-width:1200px) {
  .border_left_right::after {
    content: '';
    position: absolute;
    border-left: 2px dashed rgba(119, 126, 144, 0.4);
    height: 80%;
    top: 30px;
    right: 0;
  }
}

@media (min-width:992px) {}

@media (min-width: 992px) {
  .position_absolute {
    position: absolute;
  }

  .w_50 {
    width: 50%;
  }
}

@media (max-width:768px) {
  .mt_md_15 {
    margin-top: 15px;
  }
}

@media (min-width:768px) {
  .border_left_right::before {
    content: '';
    position: absolute;
    border-left: 2px dashed rgba(119, 126, 144, 0.4);
    height: 80%;
    top: 30px;
    left: 0;
  }

  .border_right::after {
    content: '';
    position: absolute;
    border-left: 2px dashed rgba(119, 126, 144, 0.4);
    height: 80%;
    top: 30px;
    right: 0;
  }
}

@media (min-width: 576px) {
  .bradius_46 {
    border-radius: 46px;
  }

  .process_work::after {
    content: "";
    height: 75%;
    width: 1px;
    border-right: 2px dashed rgba(151, 87, 215, 0.4);
    position: absolute;
    right: 0px;
    transform: translateY(12.5%);
  }
}

@media (min-width: 576px) {
  .white_box .slider_box::after {
    content: "";
    height: 100%;
    width: 8px;
    background-color: white;
    position: absolute;
    right: -1px;
    top: 0;
  }

  .white_box .slider_box::before {
    content: "";
    height: 100%;
    width: 8px;
    background-color: white;
    position: absolute;
    left: -1px;
    top: 0;
    z-index: 3;
  }
}